*{
    box-sizing: border-box;
    /* border: 1px solid red; */

}

body{
    background-image:url(https://images.unsplash.com/photo-1526732928503-5c58853877ae?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    overflow: hidden;
    font-family: monospace;
    overflow:auto;
}

main{
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
}

.title-header{
    font-size: 4rem;
    color: indianred;
    text-align: center;
    /* background-color: ivory; */
    text-shadow: 3px 3px 0.6px yellowgreen;
}

.title-header:hover{
    /* background-color: black; */
    color: yellow;
    text-shadow: 3px 3px 0.6px orange;
}

.odin{
    font-size: 1rem;
    color: #000;
    text-align: center;
    padding: 0 0 2em 0;
}

.odin:hover{
    color: white;
    text-shadow: 2px 2px 0.5px black;
}

.reset.btn{
  background-color:teal;
  color: #000;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 2em;
}

.player,.computer{
    padding: 2em 4em;
}

.player-display,.computer-display{
   padding: 2em 2em;
   /* border: 1px solid black; */
}

.player-selector{
    display: flex;
    justify-content: space-between;
}

.btn, .selector-comp{
    border: none;
    background-color: black;
    color: white;
    font-size: 1.15rem;
    padding: 0.5rem 1rem;
    margin: 1em 0.5em;  
    border-radius: 1em;
    text-align: center;
}

.selector-comp{
    cursor: not-allowed;
}

.btn:hover{
    background-color: cornflowerblue;
    color: black;
    font-style: italic;

}

.btn:active{
    transform: scale(1.05);
}

.local-display{
    text-align: center;
    padding: 1em;
    font-size: 1.25rem;
}

.score-container{
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    margin-top: 1.2em;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-around;

}

.winner{
    margin: 0 auto;
    text-align: center;
    padding: 2em 2em;
    font-size: 1.95rem;
}

